### Device tree ###

# Exclude everything.
# Eclipse project files will be completely excluded,
# because they can be easily recreated.
/**

# Include directories
# (without this we cannot whitelist files)
!/**/

# Include device-tree sources
!/**/*.dts

# Include gitignore
!.gitignore