### Quartus ###

# Exclude everything.
# Eclipse project files will be completely excluded,
# because they can be easily recreated.
/**

# Include directories
# (without this we cannot whitelist files)
!/**/

# db dir contains garbage
/db/

# Include source files
!/**/*.sv
!/**/*.v
!/**/*.vhd

# Include project files
!/**/*.qsf
!/**/*.qpf
!/**/*.sdc

# Include gitignore
!.gitignore