### Qsys ip core ###

# Exclude everything
/**

# Include directories
# (without this we cannot whitelist files)
!/**/

# Include files with modules
!/**/*hw.tcl

# Include source files
!/**/*.sv
!/**/*.v
!/**/*.vhd

# Allow Quartus projects
# Useful for testing synthesizability
!/**/*.qpf
!/**/*.qsf

# Include gitignore
!.gitignore